<header class= "top-page-header" >
  <div class= "header">
    <%= link_to 'Going to the Beach', "#", class: "header-title" %>
    <div class= "list">
      <li><%= link_to 'Daisuke', "#", class: "user-name" %></li>
      <li><%= link_to 'Login', "#", class: "login" %></li>
      <li><%= link_to 'Logout', "#", class: "logout" %></li>
      <li><%= link_to 'SignIn', "#", class: "sign-in" %></li>
   </div>
  </div> 
</header>