<header class= "top-page-header" >
  <div class= "header">
    <%= link_to 'Going to the Beach', "#", class: "header-title" %>
    <div class= "list">
    <% if user_signed_in? %>
      <li><%= link_to current_user.username, "#", class: "user-name" %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'SignUp', new_user_registration_path, class: "sign-up" %></li> 
    <% end %>  
      <li><%= link_to 'Wtite a Review', new_review_path, class: "post" %></li>
   </div>
  </div> 
</header>