<%= render "shared/header" %>


<div class= "main" >
  <div class= "main-search">
    <h2 class= "main-search-title">
    Search for the Beach
    </h2>
    <h3 class= "search-description">
    Welcome to Finding the Beach.<br/>
    Let's get infomation of the Beach!
    </h3>
    <%= form_with(url: search_reviews_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "Enter Beach Name ...", class: "search-input" %>
      <%= f.submit "SEARCH", class: "search-btn" %>
    <% end %>
  </div>
  <div class= "review-content">
    <h2 class= "content-title">
    ~Reviews~
    </h2>
    <% @reviews.each do |review| %>
    <li class='list'>
      <%= link_to(review_path(review.id), class:"review-link") do %>
        <div class='review-info'>
          <h3 class='review-title'>
            <span>"</span><%= review.title %><span>"</span>
          </h3>
          <div class='review-review'>
            <span class="review-left"><%= "Place"%></span>
            <span class="review-right"><%= review.place %></span> 
          </div>
          <div class='review-review'>
            <span class="review-left"><%= "Date"%></span>
            <span class="review-right"><%= review.date_of_visiting%></span>
          </div>
          <div class= "review-review">
            <span class="review-left">Pros</span>
            <span class="review-right"><%= review.pros %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Cons</span>
            <span class="review-right"><%= review.cons %></span>
          </div>
          <div class='review-review'>
            <span class="review-left">Type of Visitor</span>
            <span class="review-right"><%= review.type_of_visitor.name %></span>
          </div>
          <div class='review-review'>
             <span class="review-left">Type of Beach</span>
             <span class="review-right"><%= review.type_of_beach.name %></span>
          </div>
          <div class= "review-review">
            <span class="review-left">Color of Sand</span>
            <span class="review-right"><%= review.color_of_sand.name %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Cleanliness</span>
            <span class="review-right">
              <span class="star"><%= review.cleanliness.name %></span>
            </span>  
          </div>
          <div class='review-review'>
            <span class="review-left">Transparency</span>
            <span class="review-right">
              <span class="star"><%= review.transparency.name %></span>
            </span>  
          </div>
          <div class='review-review'>
            <span class="review-left">Quietness</span>
            <span class="review-right">
              <span class="star"><%= review.quietness.name %></span>
            </span>
          </div>
          <div class= "review-review">
            <span class="review-left">Clowd</span>
            <span class="review-right"><%= review.crowd.name %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Street Vendor</span>
            <span class="review-right"><%= review.street_vendor.name %></span>
          </div>
          <div class='review-review'>
            <span class="review-left">Shop</span>
            <span class="review-right"><%= review.shop.name %></span>
          </div>
          <div class='review-review'>
             <span class="review-left">Toilet</span>
             <span class="review-right"><%= review.toilet.name %></span>
          </div>
          <div class= "review-review">
            <span class="review-left">Shower</span>
            <span class="review-right"><%= review.shower.name %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Recommended</span>
            <span class="review-right">
              <span class="star"><%= review.recommended.name %></span>
              </span>
          </div>
          <%= image_tag review.image.variant(resize: '600x600'), class: 'review-image' if review.image.attached? %>
        </div>
      <% end %>
    </li>
    <% end %>
    <% if @reviews.empty? %>
        <li class='list'>
        <div class='review-info'>
          <h3 class='review-title'>
            Beautiful
          </h3>
          <div class='review-place'>
            <span>Waikiki Beach</span>
          </div>
          <div class='review-date'>
             <span> 2020 August</span>
          </div>
          <div class= "review-pros">
            <span>Pros: Nice Place</span>
          </div>
           <div class= "review-cons">
            <span>Cons: Bad Place</span>
          </div>
          <div class='review-type-of-visitor'>
            <span>Type of Visitor: Solo</span>
          </div>
          <div class='review-type-of-beach'>
             <span>Type of Beach: Sand</span>
          </div>
          <div class= "review-color-of-sand">
            <span>Color of Sand: White</span>
          </div>
           <div class= "review-cleanleness">
            <span>Cleanliness: ★★★★★</span>
          </div>
          <div class='review-transparency'>
            <span>Transparency: ★★★★★</span>
          </div>
          <div class='review-quietness'>
             <span>Quietness: ★★★★★</span>
          </div>
          <div class= "review-crowd">
            <span>Clowd: A lot</span>
          </div>
           <div class= "review-street-vendor">
            <span>Street Vendor: Non</span>
          </div>
          <div class='review-shop'>
            <span>Shop: Non</span>
          </div>
          <div class='review-toilet'>
             <span>Toilet: Non</span>
          </div>
          <div class= "review-shower">
            <span>Shower: Non</span>
          </div>
           <div class= "review-recommended">
            <span>Recommended: ★★★★★</span>
          </div>
          <%= image_tag "test.jpg", class: "item-img" %>
        </div>
    </li>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>