<%= render "shared/header" %>

<div class= "review-contents">
  <h2 class= "main-title">~Write a Review~</h2>
  <div class= "write-review-main">
    <div class="write-review-require">
      <span class="indispensable">*</span>
      is required
    </div>

    <%= render 'shared/error_messages', model: @review %>

    <div class="write-review-title">
      Username:
      <div class="review-username">
        <%= @user %>
      </div>    
    </div>
    <%= form_with model: @review, local: true do |f| %>
      <div class= "write-review-title">
        <div class="title">
          Title
          <span class="indispensable">*</span>
        </div>
        <%= f.text_area :title, class:"write-review-text", id:"title", placeholder:"ex. It was nice beach."%>
      </div>  
      <div class= "write-review-title">  
        <div class="place">
          Place
          <span class="indispensable">*</span>  
        </div>
        <%= f.text_area :place, class:"write-review-text", id:"place", placeholder: "ex. Waikiki"%>
      </div>
      <div class="write-review-title">
        <div class="date-of-visiting">
          Date of Visiting
          <span class="indispensable">*</span>
        </div>
        <div class="date-visit">
          <%= f.date_field :date_of_visiting, class:"date-field" %>
        </div>  
      </div>
      <div class= "write-review-title">  
        <div class="pros">
          Pros  
        </div>
        <%= f.text_area :pros, class:"write-review-text", id:"pros"%>
      </div>
        <div class= "write-review-title">  
        <div class="cons">
          Cons 
        </div>
        <%= f.text_area :cons, class:"write-review-text", id:"cons"%>
      </div>
      <div class="write-review-title">
          <div class="type-of-visitor">
            Who did you come with?
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:type_of_visitor_id, TypeOfVisitor.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="write-review-title">
          <div class="type-of-beach">
            Type of Beach
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:type_of_beach_id, TypeOfBeach.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="write-review-title">
          <div class="color-of-sand">
            Color of Sand
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:color_of_sand_id, ColorOfSand.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="write-review-title">
          <div class="cleanliness">
            Cleanliness
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:cleanliness_id, Cleanliness.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="write-review-title">
          <div class="transparency">
            Transparency
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:transparency_id, Transparency.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="quietness">
            Quietness
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:quietness_id, Quietness.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="crowd">
            Crowd
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:crowd_id, Crowd.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="street-vendor">
            Street Vendor
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:street_vendor_id, StreetVendor.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="shop">
            Shop
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:shop_id, Shop.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="toilet">
            Toilet
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:toilet_id, Toilet.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="shower">
            Shower
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:shower_id, Shower.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="write-review-title">
          <div class="recommended">
            Recommended
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:recommended_id, Recommended.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="write-review-title">
          <div class="img-upload">
            Let's Share Your Photo!
          </div>
          <%= f.file_field :image, id:"review-image"%>
        </div>
      <div class="review-btn-contents">
        <%= f.submit "Submit Review", class:"review-btn"%>
      </div>  
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
  