<div class= "review-contents">
  <div class= "write-review-main">
    <h2 class= "main-title">Write a review</h2>
    <% unless user_signed_in? %>
      <p class="attention">You can write your review as a Guest or <%= link_to 'click here', new_user_session_path, class:"click-here"%> to sign-in to your user account.</p>
    <% end %>
    <div class="username">
      Username
      <div class="review-username">
        <% if user_signed_in? %>
          <%= @user %>
        <% else %>  
          <%= "Guest" %>
        <% end %>
      </div>    
    </div>
    <%= form_with model: @review, local: true do |f| %>
      <div class= "title">
        <div class="review-title">
          Title
          <span class="indispensable">*</span>
        </div>
        <%= f.text_area :title, class:"title-text", id:"title", placeholder:"ex. It was nice beach."%>
      </div>  
      <div class= "place">  
        <div class="review-place">
          Place
          <span class="indispensable">*</span>  
        </div>
        <%= f.text_area :place, class:"place-text", id:"place", placeholder: "ex. Waikiki"%>
      </div>
      <div class="date-title">
        Date of Visiting
        <span class="indispensable">*</span>
      </div>
      <div class="date-visit">
        <%= f.date_field :date_of_visiting, class:"date-field" %>
      </div>  
      <div class= "pros">  
        <div class="review-pros">
          Pros  
        </div>
        <%= f.text_area :pros, class:"pros-text", id:"pros"%>
      </div>
        <div class= "cons">  
        <div class="review-cons">
          Cons 
        </div>
        <%= f.text_area :cons, class:"cons-text", id:"cons"%>
      </div>
      <div class="type-of-visitor">
          <div class="review-type-of-visitor">
            Who did you come with?
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:type_of_visitor_id, TypeOfVisitor.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="type-of-beach">
          <div class="review-type-of-beach">
            Type of Beach
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:type_of_beach_id, TypeOfBeach.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="color-of-sand">
          <div class="review-color-of-sand">
            Color of Sand
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:color_of_sand_id, ColorOfSand.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="cleanliness">
          <div class="review-cleanliness">
            Cleanliness
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:cleanliness_id, Cleanliness.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="transparency">
          <div class="review-transparency">
            Transparency
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:transparency_id, Transparency.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="quietness">
          <div class="review-quietness">
            Quietness
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:quietness_id, Quietness.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="crowd">
          <div class="review-crowd">
            Crowd
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:crowd_id, Crowd.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="street-vendor">
          <div class="review-street-vendor">
            Street Vendor
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:street_vendor_id, StreetVendor.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="shop">
          <div class="review-shop">
            Shop
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:shop_id, Shop.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="toilet">
          <div class="review-toilet">
            Toilet
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:toilet_id, Toilet.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="shower">
          <div class="review-shower">
            Shower
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:shower_id, Shower.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
          <div class="recommended">
          <div class="review-recommended">
            Recommended
            <span class="indispensable">*</span>
          </div>
          <%= f.collection_select(:recommended_id, Recommended.all, :id, :name, {}, {class:"select-bow", id:"review-category"}) %>
        </div>
        <div class="img-upload">
          <div class="img-title">
            Let's Share Your Photo!
          </div>
          <%= f.file_field :image, id:"review-image"%>
        </div>
      <div class="review-btn-contents">
        <%= f.submit "Submit Review", class:"review-btn"%>
      </div>  
    <% end %>
  </div>
</div>
  