<%= render "shared/header" %>

<div class="show-container">
  <h2 class="show-title">
    <span>~</span><%= @review.user.username %><span>'s Review~</span>
  </h2>
  <%= link_to 'Delete Your Review', review_path(@review.id), method: :delete, class: 'review-delete'%>
    <li class='list'>
        <div class='review-info'>
          <h3 class='review-title'>
            <span>"</span><%= @review.title %><span>"</span>
          </h3>
          <div class='review-review'>
            <span class="review-left"><%= "Place"%></span>
            <span class="review-right"><%= @review.place %></span> 
          </div>
          <div class='review-review'>
            <span class="review-left"><%= "Date"%></span>
            <span class="review-right"><%= @review.date_of_visiting%></span>
          </div>
          <div class= "review-review">
            <span class="review-left">Pros</span>
            <span class="review-right"><%= @review.pros %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Cons</span>
            <span class="review-right"><%= @review.cons %></span>
          </div>
          <div class='review-review'>
            <span class="review-left">Type of Visitor</span>
            <span class="review-right"><%= @review.type_of_visitor.name %></span>
          </div>
          <div class='review-review'>
             <span class="review-left">Type of Beach</span>
             <span class="review-right"><%= @review.type_of_beach.name %></span>
          </div>
          <div class= "review-review">
            <span class="review-left">Color of Sand</span>
            <span class="review-right"><%= @review.color_of_sand.name %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Cleanliness</span>
            <span class="review-right">
              <span class="star"><%= @review.cleanliness.name %></span>
            </span>  
          </div>
          <div class='review-review'>
            <span class="review-left">Transparency</span>
            <span class="review-right">
              <span class="star"><%= @review.transparency.name %></span>
            </span>  
          </div>
          <div class='review-review'>
            <span class="review-left">Quietness</span>
            <span class="review-right">
              <span class="star"><%= @review.quietness.name %></span>
            </span>
          </div>
          <div class= "review-review">
            <span class="review-left">Clowd</span>
            <span class="review-right"><%= @review.crowd.name %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Street Vendor</span>
            <span class="review-right"><%= @review.street_vendor.name %></span>
          </div>
          <div class='review-review'>
            <span class="review-left">Shop</span>
            <span class="review-right"><%= @review.shop.name %></span>
          </div>
          <div class='review-review'>
             <span class="review-left">Toilet</span>
             <span class="review-right"><%= @review.toilet.name %></span>
          </div>
          <div class= "review-review">
            <span class="review-left">Shower</span>
            <span class="review-right"><%= @review.shower.name %></span>
          </div>
           <div class= "review-review">
            <span class="review-left">Recommended</span>
            <span class="review-right">
              <span class="star"><%= @review.recommended.name %></span>
              </span>
          </div>
          <%= image_tag @review.image.variant(resize: '600x600'), class: 'review-image' if @review.image.attached? %>
        </div>
    </li>
    <div class="comment-container">
    <h2 class="comment-title">
      <%= "~Comments~"%>
    </h2>
    <% unless current_user%>
      <p class="comment-attention">If you want to comment, <%= link_to "click here to sign-in", new_user_session_path, class:"comment-sign-in"%> to your user account.</p>
    <% end %>
      <div class="comments" id='comments'>
        <% if @comments.empty? %>
          <%= "There are no comments yet." %>
        <% end %>
          <% @comments.reverse_each do |comment| %>
            <p class="comment-area">
              <span class="comment-left"><%= comment.user.username + ":" %></span>
              <span class="comment-right">
                <span class="comment"><%= comment.comment %></span>
              </span>
                <span class="comment-time"><%= comment.created_at.strftime('%d %b %H:%M') %></span>
            </p>
          <% end %>
      </div>
      <% if current_user %>
        <%= form_with model: [@review, @comment] do |f| %>
          <%= f.text_field :comment, placeholder: "Enter Comment ...", class: "comment-input" %>
          <%= f.submit 'SEND', class: "comment-btn" %>
        <% end %>
      <% end %>
    </div>  
  </div>
</div>

<%= render "shared/footer" %>